.container {
    display: grid;
    grid-template-areas: 
    "header header header"
    "section section aside"
    "article article article";
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 36px;
}

section {
    grid-area: section;
}

section img {
    width: 665px;
}

aside {
    grid-area: aside;
}

article {
    grid-area: article;
}